.cards-design
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
   justify-content: center;
   row-gap: 40px;
   column-gap: 40px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.servcesBG{
    margin-top: 20px;
}